.body{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
}

.image-section{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-top: -1%;
}

.form-section{
    width: 70%;
    height: 100%;
}

img{
    width: 135%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.brand-name{
    margin-top: 10%;
    position: absolute;
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}